/*
Theme color scheme from https://www.ceh.ac.uk
Approximate palette retrieved using https://html-color-codes.info/colors-from-image/ 
*/

:root {
  
  --ceh-background-grey: #EBF0EE;
  --ceh-main-green: #4DA43B;
  --ceh-main-blue #2F7ECC:
  --ceh-main-darkblue #306FAE:
  --ceh-mid-1 #3889A3:
  --ceh-mid-2 #3F9280;
  --ceh-mid-3 #459A62;
  --text-title-color: #575656;
  --modal-background-color: #575656;
  
}

/* Main font */
* {font-family: "Montserrat", sans-serif !important;}

/*#validateSurveyTableDataModal{
  opacity: 0 !important;
  background-color: var(--text-title-color) !important;
}*/

.modal-backdrop{
  opacity: 0 !important;
  background-color: var(--modal-background-color) !important;
}

/* Title header flex container*/
.g-col-sm-1.g-col-lg-1.bslib-grid-item.bslib-gap-spacing.html-fill-container{
  /*align-items: center !important;*/
  justify-content: center !important;
}

/* Remove spacing below header flex container*/
.bslib-mb-spacing {
  margin-bottom: 0 !important;
}

#title{
  margin-bottom: 0 !important;
  color: var(--text-title-color) !important;
  font-weight: bold !important;
}

.navbar {
  --bs-navbar-padding-x: 0.25rem !important;
  --bs-navbar-padding-y: 0.25rem !important;
  --bs-navbar-brand-margin-end: 0rem !important;
}

.navbar.navbar-inverse {
  background-color: white !important;
}

.navbar-nav {
  --bs-nav-link-padding-x: 0 !important;
  --bs-nav-link-padding-y: 0rem !important;
  --bs-nav-link-color: black !important;
  --bs-nav-link-hover-color: black !important;
  --bs-nav-link-disabled-color: black !important;
}

.bslib-sidebar-layout {
  --bslib-sidebar-bg: white !important;
}

/* Align bslib info icons */
.g-col-md-1.bslib-grid-item.bslib-gap-spacing.html-fill-container{
  align-items: center !important;
  justify-content: center !important;
}

.nav-link.active{
  background-color: var(--ceh-background-grey) !important;
  color: black !important;
}
.nav-link{
  background-color: white !important;
  color: black !important;
}

.nav-item{
  color: black !important;
}

.navbar-brand {
  color: black !important;
}

.accordion-button{
  font-size: 1rem !important;
}

.card {
  background-color: white !important
}

.card-header{
  color: black !important
  background-color: var(--ceh-background-grey) !important;
}


/* rhandsontable */
.handsontable {
  overflow: hidden;
}

.handsontable-td {
  background-color: #ffffff !important;
}

.handsontable-td.htInvalid {
  background-color: #ffb8b8 !important;
}

.handsontable .htDimmed {
  /*background-color: #ffffff !important;*/
  color: #000000 !important;
}

.handsontable thead th.ht__highlight {
  background-color: var(--ceh-background-grey) !important;
}


/* Custom {reactable} css classes */
/* Row height needs to be 24px; Header height needs to be 26px */

.my-tbl {
  text-align: center !important;
  font-size: 1rem !important;
  font-weight: normal !important;
  /*border-radius: 3px !important;*/
  border-color: rgba(40,70,94,0.1) !important;
  border-width: 1px !important;
  /*border-style: solid !important;*/
}

.my-header {
  text-align: center !important;
  font-weight: normal !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  line-height: 15px !important;
  background-color: rgba(0,0,0,0.05) !important;
  border-color: rgba(40,70,94,0.1) !important;
  border-width: 1px !important;
  /*border-style: solid !important;*/
}

.my-col {
  text-align: center !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  line-height: 9px !important;
  border-color: rgba(40,70,94,0.1) !important;
  border-width: 1px !important;
  /*border-style: solid !important;*/
}

.my-row {

}




